@use "partials/reset";
@use "partials/fonts" as f;
@use "partials/colors" as c;

h1, h2, h3, h4, h5, h6, body, p {
    font-family: f.$font-stack-one;
}
h1 {
    font-size: 4rem;
}
.all-wrapper {
    background: c.$background;
    padding: 1em;
    height: 100vh;
}
.info-wrapper {
    width: min(100%, 800px);
    margin: 0 auto;
    h1 {
        text-align: center;
        color: c.$white;
        margin: .2em 0;
    }
    p {
        text-align: center;
        color: c.$white;
        margin: 0 0 1.2rem;
    }
}

.board {
    background-color: c.$primary;
    width: min(100%, 600px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 1em;
    justify-items: center;
    align-items: center;

    .board-slot {
        background-color: c.$white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    .board-slot.winner {
        background-color: c.$secondary;
    }
}