@use "partials/reset";
@use "partials/fonts" as f;
@use "partials/colors" as c;

h1, h2, h3, h4, h5, h6, body, p {
    font-family: f.$font-stack-one;
}
h1 {
    font-size: 4rem;
}
.all-wrapper {
    background: c.$background;
    padding: 1em;
    height: 100vh;
}
.info-wrapper {
    width: min(100%, 800px);
    margin: 0 auto;
    h1 {
        text-align: center;
        color: c.$white;
        margin: .2em 0;
    }
    p {
        text-align: center;
        color: c.$white;
        margin: 0 0 1.2rem;
    }
}
.control-btns {
    display: flex;
    justify-content: space-around;
    .control-btn {
        appearance: none;
        border-style: none;
        padding: 1rem;
        background-color: c.$secondary;
        color: c.$white;
        font-size: 1rem;
        font-weight: 600;
        margin: 1em;
    }
}

.board {
    background-color: c.$primary;
    width: min(100%, 600px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 1em;
    justify-items: center;
    align-items: center;

    .board-slot {
        background-color: c.$white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    .board-slot.winner {
        background-color: c.$secondary;
    }
}
.player-init-inputs {
    background: c.$third;
    color: c.$background;
    width: min(90%, 400px);
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    label {
        font-weight: 600;
        margin: 1em 0 .3em;
    }
    input[type="text"] {
        font-size: 1rem;
        padding: .5rem;
        font-family: f.$font-stack-one;
    }
    button {
        appearance: none;
        border-style: none;
        margin: 1em 0;
        font-size: 1rem;
        padding: 1em 0;
        background-color: c.$primary;
        color: c.$white;
        font-weight: 600;
    }
}